<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451901549739-s0o7tf4tomruse7lo6t0r309qburcndu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451901549739-s0o7tf4tomruse7lo6t0r309qburcndu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>451901549739-hrrrr4bkigdq2k45poqav3d8g0ts76kn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTgJhb7JT5mqtabF4g7mKUfnhUCVyBHQY</string>
	<key>GCM_SENDER_ID</key>
	<string>451901549739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fameda.fanpage</string>
	<key>PROJECT_ID</key>
	<string>fhossain6-fanpage</string>
	<key>STORAGE_BUCKET</key>
	<string>fhossain6-fanpage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451901549739:ios:ab14d13b411f9978a05bee</string>
</dict>
</plist>